<!DOCTYPE html>
<html>
	<head>
		<title>Follower</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
	</head>
	<body>
		<div class="container">
			<header>
				<img src="{{url_for('static', filename = 'Fineducation.Logo.png')}}" align="right" >
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a class="nav-link" href="/">Startseite</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/dasprojekt">Das Projekt</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/finanztypen">Finanztypen</a>
			  </li>
			</ul>
		</header>
		<h1>Fit for your future?</h1>
		<script type="text/javascript" src="script.js">
		</script>
		
		<p><h3><b>Follower</b></h3>
		Follower sind Anleger, die dazu neigen, dem Rat ihrer Freunde und Kollegen, einer allgemeinen Investitionsmode oder dem Status quo zu folgen, anstatt eigene Ideen zu haben oder eigene Entscheidungen über Investitionen zu treffen. Anhängern mangelt es möglicherweise an Interesse und/oder Wissen über die Finanzmärkte und ihrem Entscheidungsprozess fehlt möglicherweise ein langfristiger Plan.
		
		<p> <p><b>Häufige Probleme mit Followern: Die Herdenmentalität </b> 	<p> Diese beschreibt ein Konzept, bei dem Investoren in die gleichen Investitionen wie andere investieren. Dies ist oft die Grundlage für Investitionsblasen und nachfolgende Crashs am Aktienmarkt. Wenn man ein "Follower" ist, folgt man typischerweise Fondsmanagern, die über Werkzeuge und Ressourcen verfügen, um in Sekundenbruchteilen auf neue Informationen zu reagieren. Zu dem Zeitpunkt, an dem der durchschnittliche Anleger ihnen in eine Position "folgt", ist es oft schon zu spät. Es ist immer wichtig, dass man seine Anlageentscheidungen versteht und weiß, wie sie in das Gesamtkonzept passen.</p>

		<p>Um dich weiter zu bilden empfehlen wir dir folgende Video, die zu deinem Typ passen zu den Themen:<br>
		<p><b>Investmentfonds</b>
			<ul>
				<li><a href="https://www.youtube.com/watch?v=GqgxBUSGfSU">Link 1</a></li>
				<li><a href="https://www.youtube.com/watch?v=uMBZT1XiQ9Y&t=16s">Link 2</a></li>
				<li><a href="https://www.finanzfluss.de/geldanlage/investmentfonds/">Link 3</a></li>
			</ul>
		<b>ETF</b>
			<ul>
				<li><a href="https://www.youtube.com/watch?v=Pt4Vtrpzv9c">Link 1</a></li>
				<li><a href="https://www.youtube.com/watch?v=wCTCXoZNsHE">Link 2</a></li>
				<li><a href="https://www.finanzfluss.de/etf-handbuch/etf/">Link 3</a></li>
			</ul>			
		</p>	

		<footer>
			
		</footer>
	</div>
</body>
</html>