<!DOCTYPE html>
<html>
<head>
		<title>Independent</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
	</head>
	<body>
		<div class="container">
			<header>
				<img src="{{url_for('static', filename = 'Fineducation.Logo.png')}}" align="right" >
				<ul class="nav nav-pills">
					<li class="nav-item">
			    <a class="nav-link" href="index.html">Startseite</a>
				</li>
			  <li class="nav-item">
			    <a class="nav-link" href="dasprojekt.html">Das Projekt</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link active" aria-current="page" href="finanztypen.html">Finanztypen</a>
			  </li>
			</ul>
		</header>
		<h1>Fit for your future?</h1>
		<script type="text/javascript" src="script.js">
		</script>
		
		<p><h3><b>Dein Typ: Independent</b></h3>
		Independents sind Investoren, die originelle Ideen über das Investieren haben und gerne in den Investitionsprozess involviert sind. Im Gegensatz zu Followern sind sie sehr an dem Prozess des Investierens interessiert und engagieren sich an den Finanzmärkten. Viele Independents sind analytische und kritische Denker und trauen sich selbst zu, sichere und informierte Entscheidungen zu treffen, riskieren aber die Fallstricke, wenn sie nur ihren eigenen Recherchen folgen.
		<p> <p><b>Häufige Probleme mit Independents: Overconfidence </b> <p>Independents können Probleme hbekommen, wenn sie sich zu sehr auf ihren eigenen Gedankengang verlassen. Wir Menschen haben die Fähigkeit, uns selbst davon zu überzeugen, dass wir richtig liegen oder dass wir keine Anleitung brauchen, auch wenn das nicht der Fall ist.</p>

		<p>Um dich weiter zu bilden empfehlen wir dir folgende Video, die zu deinem Typ passen zu den Themen:<br>
		<p> <b>Aktien</b>
			<ul>
				<li><a href="https://www.youtube.com/watch?v=R2ZFgLROtTY">Link 1</a></li>
				<li><a href="https://www.youtube.com/watch?v=h0lJ2goopnI">Link 2</a></li>
				<li><a href="https://www.finanzfluss.de/geldanlage/aktien/">Link 3</a></li>
			</ul>
		<b>ETF</b>
			<ul>
				<li><a href="https://www.youtube.com/watch?v=Pt4Vtrpzv9c">Link 1</a></li>
				<li><a href="https://www.youtube.com/watch?v=wCTCXoZNsHE">Link 2</a></li>
				<li><a href="https://www.finanzfluss.de/etf-handbuch/etf/">Link 3</a></li>
			</ul>			
		</p>		
		
		<footer>
			
		</footer>
	</div>
</body>
</html>