<!DOCTYPE html>
<html>
<head>
	<title>Finanztypen</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
</head>
	<body>
		<div class="container">
			<header>
				<img src="{{url_for('static', filename = 'Fineducation.Logo.png')}}" id="idname" align="right" >
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a class="nav-link" href="/">Startseite</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/dasprojekt">Das Projekt</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/form">Test</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/finanztypen">Finanztypen</a>
			  </li>
			</ul>
		</header>
		<h1>Fit for your future?</h1>
		<script type="text/javascript" src="script.js">
		</script>
 		
		 <img class="links" src="{{url_for('static', filename = 'Preserver.png')}}" id="preserver" alt="Banner"> </p><p><h3><b>Preserver</b></h3>
			Preserver sind Anleger, die großen Wert auf finanzielle Sicherheit und auf den Erhalt des Vermögens legen.  Sie vermeiden es Risiken einzugehen, auch wenn diese das Vermögen möglicherweise vergrößern würden. Preserver überwachen ihr Vermögen genau und sind besorgt über Verluste und kurzfristige Wertentwicklung. Preserver haben Schwierigkeiten, Maßnahmen zu ergreifen, aus Angst die falschen Entscheidungen zu treffen.
			<p><p><b>Häufige Probleme mit Preservern:</b> Eine Anlagestrategie sollte kurz-, mittel- und langfristige Ziele berücksichtigen. Durch die Überbewertung kurzfristiger Renditen riskiert ein Anleger, eine emotionale Entscheidung auf der Grundlage der kurzfristigen Performance zu treffen, was sich langfristig als nachteiliger erweisen kann.</p>
			
			<img class="links" src="{{url_for('static', filename = 'Akkumulator.png')}}" id="akkumulator" alt="Banner"> </p><p><h3><b>Akkumulator</b></h3>
			Akkumulatoren sind Anleger, die daran interessiert sind Vermögen anzusammeln. Sie sind überzeugt davon, dass sie ihr Ziel erreichen können. Akkumulatoren neigen dazu, das Schiff zu steuern, wenn es darum geht, Investitionsentscheidungen zu treffen. Sie sind risikofreudig und glauben, dass der von ihnen gewählte Weg der richtige ist. Akkumulatoren haben bereits erfolge in anderen Projekten erlebt und sind zuversichtlich, dass sie auch als Anleger erfolgreich sein werden.
			<p><p><p><b>Häufige Probleme mit Akkummulatoren: Overconfidence</b>  <p>Overconfidence ist eine natürliche menschliche Tendenz. Als Anleger überschätzen Akkumulatoren ständig ihre Fähigkeit, zukünftige Ereignisse vorherzusagen. Die Vergangenheit hat gezeigt, dass es unmöglich ist, Märkte in großem Umfang vorherzusagen, dennoch versuchen es Akkumulatoren weiterhin und setzen sich damit einem extremen Risiko aus. </p>
		
			<img class="links" src="{{url_for('static', filename = 'Follower.png')}}" id="follower" alt="Banner"> <p><h3><b>Follower</b></h3>
			Follower sind Anleger, die dazu neigen, dem Rat ihrer Freunde und Kollegen, einem Investitionstrend oder dem Status quo zu folgen, anstatt einen eigenen Weg zu verfolgen oder eigene Entscheidungen über Investitionen zu treffen. Followern mangelt es möglicherweise an Interesse und/oder Wissen über die Finanzmärkte. In ihrem Entscheidungsprozess fehlt möglicherweise ein langfristiger, eigener Plan.
			<p><p><p><b>Häufige Probleme mit Followern: Die Herdenmentalität </b> <p> Diese beschreibt eine Verzerrung, bei dem Anleger auf andere Personen vetrauen und das gleiche Investieren. Dies ist oft die Grundlage für Investitionsblasen und nachfolgende Crashs am Aktienmarkt. Wenn man ein "Follower" ist, folgt man typischerweise Fondsmanagern. Diese verfügen über Ressourcen, um schnell auf neue Informationen zu reagieren. Zu dem Zeitpunkt, an dem der durchschnittliche Anleger ihren Entscheidungen dann auch "folgt", ist es oft schon zu spät. Es ist immer wichtig, dass man seine Anlageentscheidungen versteht und weiß, wie sie in das Gesamtkonzept passen.</p>
			
			<img class="links" src="{{url_for('static', filename = 'Independent.png')}}" id="independent" alt="Banner"><p><h3><b>Independent</b></h3>
			Independents sind Anleger, die originelle Ideen über das Investieren haben und gerne im gesamten Prozess involviert sind. Im Gegensatz zum Typ Follower sind sie sehr an dem Prozess des Investierens interessiert und stecken viel Zeit in das Verstehen von Finanzmärkten. Viele Independents sind analytische und kritische Denker und trauen sich selbst zu, sichere und informierte Entscheidungen zu treffen. Sie riskieren jedoch Fehlentscheidungen, wenn sie nur ihren eigenen Recherchen folgen.
			<p><p> <p><b>Häufige Probleme mit Independents: Overconfidence </b> <p>Independents können Probleme bekommen, wenn sie sich zu sehr auf ihren eigenen Gedankengang verlassen. Sie sind potenziell zu sehr von eigenen Ideen überzeugt. Die Gafahr dabei ist, dass sie sich zu sicher sind, richtig zu liegen und keine externe Hilfe zu brauchen, auch wenn das nicht immer der Fall ist.</p>

		<footer>
		</footer>
	</div>
</body>
</html>