<!DOCTYPE html>
<html>
<head>
	<title>Das Projekt</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="container">	
		<header>FinEducation - Finanzbildung? - aber sicher! (Header)
			<ul class="nav nav-pills">
			  <li class="nav-item">
			    <a class="nav-link" href="index.html">Startseite</a>
			  </li>
			 	 <li class="nav-item">
				    <a class="nav-link" href="test.html">Test</a>
				</li>
			  <li class="nav-item">
			    <a class="nav-link" href="dasprojekt.html">Das Projekt</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link active" aria-current="page" href="finanztypen.html">Finanztypen</a>
			  </li>
			</ul>
		</header>
		<h1>Fit for your future?</h1>
		<script type="text/javascript" src="script.js">
		</script>

		<p><h3><b>Du bist: Akkumulator</b></h3>
		Akkumulatoren sind Anleger, die daran interessiert sind, Vermögen zu akkumulieren und davon überzeugt sind, dass sie dies auch schaffen können. Akkumulatoren neigen dazu, das Schiff zu steuern, wenn es darum geht, Investitionsentscheidungen zu treffen. Sie sind risikofreudig und glauben typischerweise, dass der von ihnen gewählte Weg der richtige ist. Akkumulatoren waren häufig in früheren Projekten erfolgreich und sind zuversichtlich, dass sie auch als Investoren erfolgreich sein werden.
		Häufiges Problem bei Akkumulatoren: Overconfidence. Selbstüberschätzung ist eine natürliche menschliche Tendenz. Als Investoren überschätzen Akkumulatoren ständig ihre Fähigkeit, zukünftige Erträge vorherzusagen. Die Geschichte hat gezeigt, dass es unmöglich ist, Märkte in großem Umfang vorherzusagen, dennoch versuchen es Akkumulatoren weiterhin und setzen sich damit einem extremen Risiko aus. </p>

		<p>Um dich weiter zu bilden empfehlen wir dir folgende Video, die zu deinem Typ passen zu den Themen<br>
		<b>Daytrading</b>
			<ul>
				<li><a href="https://www.youtube.com/watch?v=W9rc0RQvf0s">Link 1</a></li>
				<li><a href="https://www.finanzfluss.de/trading-fuer-anfaenger-erklaert/">Link 2</a></li>
				<li><a href="https://www.handelsblatt.com/finanzen/maerkte/boerse-inside/ein-tag-als-daytrader-ein-selbstversuch-mit-schnellem-geld/6202094.html?ticket=ST-8598292-wxffabRKGcJebXN5yAGE-ap5">Link 3</a></li>
			</ul>
		<b>Aktien</b>
			<ul>
				<li><a href="https://www.youtube.com/watch?v=R2ZFgLROtTY">Link 1</a></li>
				<li><a href="https://www.youtube.com/watch?v=h0lJ2goopnI">Link 2</a></li>
				<li><a href="https://www.finanzfluss.de/geldanlage/aktien/">Link 3</a></li>
			</ul>
		</p>		

		<footer>
			Hier ist der Footer.
		</footer>
	</div>
</body>
</html>