<!doctype html>

<html>
    <head>
        <title>Startseite</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="container">
            <header>
                <img src="Fineducation.logo.png" align="right" height="50" width="130">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Startseite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="test.html">Test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dasprojekt.html">Das Projekt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="finanztypen.html">Finanztypen</a>
                    </li>
                </ul>
            </header>
<body>
    <center><h1>Wie schätzt du dich ein?</h1></center> <!-- Header -->
    <form method="POST" action="{{ url_for('form')}}" <!-- Build the form -->
        {{ form.csrf_token }} <!-- Security component -->
        <h2>1. Meine Hauptaufgabe bei der Verwaltung meines Geldes ist:</h2>
        {{ form.q1 }} <!-- Inserting question into html page -->
        <ul>
            {% for error in form.q1.errors%}
                <li style="color:red;">{{error}}</li>  <!-- Fail if no Input -->
            {% endfor %}
        </ul>
        <h2>2. Wenn es um finanzielle Angelegenheiten geht, stimme ich welcher Aussage am meisten zu?</h2>
        {{ form.q2 }}
        <ul>
            {% for error in form.q2.errors%}
                <li style="color:red;">{{error}}</li> 
            {% endfor %}
        </ul>
        <h2>3. Wenn ich mich für eine Investition entscheide, vertraue ich dem Rat von:</h2>
        {{ form.q3 }}
        <ul>
            {% for error in form.q3.errors%}
                <li style="color:red;">{{error}}</li> 
            {% endfor %}
        </ul>
        <h2>4. Stell dir vor, du kaufst dir eine Aktie und du siehst, dass die Aktie mehr Wert gewinnt. Wie verhältst du dich:</h2>
        {{ form.q4 }}
        <ul>
            {% for error in form.q4.errors%}
                <li style="color:red;">{{error}}</li> 
            {% endfor %}
        </ul>
        <h2>5. Welches Wort beschreibt dich im finanziellen Bereich am besten?</h2>
        {{ form.q5 }}
        <ul>
            {% for error in form.q5.errors%}
                <li style="color:red;">{{error}}</li> 
            {% endfor %}
        </ul>
        <h2>6. Wenn es darum geht, einen Plan für den Umgang mit Geld zu verfolgen, was beschreibt deine Denkweise am besten?</h2>
        {{ form.q6 }}
        <ul>
            {% for error in form.q6.errors%}
                <li style="color:red;">{{error}}</li> 
            {% endfor %}
        </ul>
        <h2>7. Ich fühle mich in Bezug auf mein Geld am sichersten, wenn:</h2>
        {{ form.q7 }}
        <ul>
            {% for error in form.q7.errors%}
                <li style="color:red;">{{error}}</li> 
            {% endfor %}
        </ul>
        <h2>8. Wenn ein Freund eine &quot;sichere Sache&quot; als Investitionsidee vorschlägt, wäre meine Antwort:</h2>
        {{ form.q8 }}
        <ul>
            {% for error in form.q8.errors%}
                <li style="color:red;">{{error}}</li> 
            {% endfor %}
        </ul>
        <h2>9. Stell dir vor, du hast Geld in eine Anlageform investiert. Kurzfristige Schwankungen meines angelegten Geldes führen dazu, dass ich:</h2>
        {{ form.q9 }}
        <ul>
            {% for error in form.q9.errors%}
                <li style="color:red;">{{error}}</li> 
            {% endfor %}
        </ul>
        <h2>10. Angenommen du wärst bei einer Sportveranstaltung. Welche Position nimmst du am ehesten ein?</h2>
        {{ form.q10 }}
        <ul>
            {% for error in form.q10.errors%}
                <li style="color:red;">{{error}}</li> 
            {% endfor %}
        </ul>
        <center><input type="submit" value="Auswerten"></center>
   
    </form>

</body>
</html>